:root {
  --ok: #064ddc;
  --success: #45ae45;
  --warn: #ffcb76;
  --error: #ff4b4b;
  --black: #111111;
  --white: #f5f5f5;
  --prima: #0053b2;
  --primamid: hsl(216, 100%, 40%);
  --primalight: hsl(216, 100%, 70%);
  --seco: #b25300;
  --background: hsl(216, 100%, 90%);
  --text: hsl(216, 100%, 10%);
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0 auto;
  /* border: 1px solid black; */
  width: min(100vw, 800px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primamid);
  /* border: 1px solid black; */
  height: 6vh;
  color: var(--white);
}

section {
  border: 1px solid black;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.budget {
  flex-grow: 1;
}

.buttons {
  margin-top: auto;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
}

.balance {
  border: 1px solid var(--prima);
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: hsl(216, 100%, 80%);
  /* border: 1px solid var(--primalight); */
}

.balance > div {
  /* padding: 8px 16px; */
  /* margin: auto; */
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.balanceContainer {
  position: absolute;
  top: 6vh;
  left: 0;
  width: 100%;

  :root {
    --ok: #064ddc;
    --success: #45ae45;
    --warn: #ffcb76;
    --error: #ff4b4b;
    --black: #111111;
    --white: #f5f5f5;
    --prima: #0053b2;
    --primamid: hsl(216, 100%, 40%);
    --primalight: hsl(216, 100%, 70%);
    --seco: #b25300;
    --background: hsl(216, 100%, 90%);
    --text: hsl(216, 100%, 10%);
  }

  body {
    font-family: "Jost", sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0 auto;
    /* border: 1px solid black; */
    width: min(100vw, 800px);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primamid);
    border: 1px solid black;
    height: 6vh;
  }

  section {
    border: 1px solid black;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    position: relative;
  }

  .budget {
    flex-grow: 1;
  }

  .buttons {
    margin-top: auto;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
  }

  .balance {
    border: 1px solid var(--prima);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: hsl(216, 100%, 80%);
    /* border: 1px solid var(--primalight); */
  }

  .balance > div {
    /* padding: 8px 16px; */
    /* margin: auto; */
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
  }

  .balanceContainer {
    position: absolute;
    top: 6vh;
    left: 0;
    width: 100%;
  }

  .eurosign {
    padding: 0 2rem;
  }

  .moneys {
    height: 100%;
    width: 70%;
    background-color: var(--primalight);
    display: flex;
    align-items: center;
    border: 1px solid var(--primamid);
    border-radius: 5px;
  }

  .moneys:hover {
    background-color: hsl(216, 100%, 75%);
  }

  .balance button {
    width: 100%;
    height: 100%;
  }

  .bigbuttons {
    display: flex;
    justify-content: space-evenly;
    column-gap: 2rem;
    width: 100%;
    flex-grow: 1;
  }

  .bigbuttons > button {
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  .bigbuttons button:hover {
    cursor: pointer;
  }

  .bigbuttons button:hover {
    transform: translateY(-2px);
  }

  .expense {
    color: var(--error);
    font-weight: 800;
    border: 2px solid var(--error);
    background-color: #ff4b4b10;
  }

  .expense p:hover {
    scale: 1.5;
  }

  .income {
    color: var(--success);
    font-weight: 800;
    border: 2px solid var(--success);
    background-color: #45ae4510;
  }

  .income p:hover {
    scale: 1.5;
  }
}

.income-outcome {
  /* background-image: url(./images/Simple\ Shiny.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background-color: var(--background);
  height: calc(100vh - 6vh - 4rem);
  display: flex;
  justify-content: flex-start;
  padding: 2 2vw;
  border-left: 1px solid var(--primalight);
  border-right: 1px solid var(--primalight);
  border-bottom: 1px solid var(--primalight);
}

.income-outcome > div {
  margin: 2vh 2vw;
}

.eurosign {
  padding: 0 2rem;
}

.moneys {
  height: 100%;
  width: 70%;
  background-color: var(--primalight);
  display: flex;
  align-items: center;
  border: 1px solid var(--primamid);
  border-radius: 5px;
}

.moneys:hover {
  background-color: hsl(216, 100%, 75%);
}

.balance button {
  width: 100%;
  height: 100%;
}

.bigbuttons {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2rem;
  width: 100%;
  flex-grow: 1;
}

.bigbuttons > button {
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin: 1rem;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.bigbuttons button:hover {
  cursor: pointer;
}

.bigbuttons button:hover {
  transform: translateY(-2px);
}

.expense {
  color: var(--error);
  font-weight: 800;
  border: 2px solid var(--error);
  background-color: #ff4b4b10;
}

.expense p:hover {
  scale: 1.5;
}

.income {
  color: var(--success);
  font-weight: 800;
  border: 2px solid var(--success);
  background-color: #45ae4510;
}

.income p:hover {
  scale: 1.5;
}
