#landing,
#try-it-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.balance {
  width: 80%;
  height: 90vh;
  border: 4px solid var(--primary);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.saldo,
.money-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saldo {
  /* border: 1px solid var(--primarylight); */
  width: 100%;
  height: 75%;
  flex-direction: column;
}

.income-expenses {
  display: flex;
  flex-direction: column;
}

.balance-stuff {
  height: 25%;
  width: 100%;
  /* border: 1px solid var(--secondary2); */
  border-top: 2px solid var(--primarymid);
}

.balance-button {
  border-bottom: 2px solid var(--primarymid);
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.balance-button:hover {
  transform: translateY(-2px);
}

.balance-button button {
  height: 100%;
  border: none;
  font: inherit;
  font-weight: 600;
  background: none;
  /* color: inherit; */
}

.balance-button button:hover {
  cursor: pointer;
}

.saldo-button-center {
  width: 70%;
  color: var(--black);
  font-weight: bolder;
}

.saldo-button-side {
  width: 15%;
  color: var(--text);
}

.money-buttons {
  width: 100%;
  height: 70%;
  justify-content: space-around;
}

.income-button,
.expenses-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.income-button:hover,
.expenses-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.income-button {
  border: 4px solid var(--primary);
  background-color: var(--primarylight);
  /* color: var(--primary); */
}

.expenses-button {
  border: 4px solid var(--secondary2);
  background-color: var(--secondary);
  /* color: var(--secondary2); */
}

.money-input {
  width: 50%;
  max-width: 300px;
  padding: 0.8rem 0.4rem;
  font-size: 1rem;
}

.money-input-type {
  border: 1px solid var(--secondary);
  width: 50%;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.money-input-type > button {
  width: 30%;
  height: 50px;
  margin-bottom: 8px;
}

.money-input-buttons {
  border: 1px solid var(--secondary2);
  width: 50%;
  max-width: 300px;
  height: 50px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.money-input-buttons > button {
  height: 80%;
  width: 45%;
}
