#landing,
#try-it-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  min-height: 100vh;
  height: 100%;
  width: calc(100% - 48px);
  margin: 0 24px;
  position: relative;
}

.landing-top-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 12px 24px;
}

/* Landing page */

.landing-logo {
  /* border: 1px solid var(--secondary); */
  width: calc(12 * 8.33%);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  position: relative;
}

.logo-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/moneybag2-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.1;
}

.logo-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-text h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 16px;
}

.logo-inputs {
  margin-top: 32px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(8 * 8.33%);
  height: 90%;
  border: 1px solid var(--primarylight);
  border-radius: 4px;
  font-size: 1.5rem;
  background-color: var(--bg);
  opacity: 0.9;
}

.login-inputs {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
  width: calc(5 * 8.33%);
}

.login-inputs {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.label-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label-input label {
  margin-bottom: 4px;
}

.label-input input {
  padding: 8px 16px;
  border-radius: 4px;
}

.helper-text {
  margin-top: 8px;
  font-size: 0.9rem;
}

#form-register,
#form-login {
  height: max-content;
}

/* Try It Out page */

.balance {
  width: calc(8 * 8.33%);
  height: 90vh;
  border: 4px solid var(--primary);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.saldo,
.money-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saldo,
.balance-modal {
  /* border: 1px solid var(--primarylight); */
  width: 100%;
  height: 75%;
  flex-direction: column;
}

.balance-modal.open {
  background-color: var(--black);
  transition: background-color 2s ease;
}

/* BalanceModal */

.inside-balancemodal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-income,
.inside-expenses {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inside-income h3,
.inside-expenses h3 {
  margin: 8px;
  text-align: center;
  color: var(--text);
}

.inside-income {
  color: var(--primarylight);
}

.inside-expenses {
  color: var(--secondary);
}

.inside-grid {
  display: grid;
  width: 100%;
  /* height: 100%; */
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  overflow: auto;
}

.inside-grid > div {
  border: 1px solid var(--primarylight);
  padding: 0.5rem;
}

/* END BalanceModal */

.income-expenses {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 100%;
  width: 100%;
}

.donitsi {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8px;
  z-index: 2;
}

.donitsi-label {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
  text-align: right;
  /* opacity: 0.5; */
}

.balance-stuff {
  height: 25%;
  width: 100%;
  /* border: 1px solid var(--secondary2); */
}

.balance-button {
  border-top: 2px solid var(--primarymid);
  border-bottom: 2px solid var(--primarymid);
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

.balance-button:hover {
  transform: translateY(-2px);
}

.balance-button button {
  height: 100%;
  border: none;
  font: inherit;
  font-weight: 600;
  background: none;
  /* color: inherit; */
}

.balance-button button:hover {
  cursor: pointer;
}

.saldo-button-center {
  width: 70%;
  color: var(--black);
  font-weight: bolder;
}

.saldo-button-side {
  width: 15%;
  color: var(--text);
}

.money-buttons {
  width: 100%;
  height: 70%;
  justify-content: space-around;
}

.income-button,
.expenses-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in;
}

.income-button:hover,
.expenses-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.income-button {
  border: 4px solid var(--primary);
  background-color: var(--primarylight);
  /* color: var(--primary); */
}

.expenses-button {
  border: 4px solid var(--secondary2);
  background-color: var(--secondary);
  /* color: var(--secondary2); */
}

/* Income / Expenses Modal */

.money-input {
  width: 50%;
  max-width: 300px;
  padding: 8px 16px;
  font-size: 1rem;
}

.money-input-type {
  /* border: 1px solid var(--secondary); */
  margin-top: 8px;
  width: 50%;
  max-width: 300px;
  height: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
}

.money-input-type > button {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: none;
  color: var(--text);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
}

.money-input-type > button:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.modal-income-button {
  box-shadow: -1px 1px var(--primarymid);
}

.modal-expense-button {
  box-shadow: -1px 1px var(--secondary2);
}

.money-input-buttons {
  /* border: 1px solid var(--secondary2); */
  width: 50%;
  max-width: 300px;
  height: 50px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.money-input-buttons > button {
  height: 100%;
  width: 50%;

  /* border: none; */
  /* color: var(--text); */
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
}

.money-input-button-income {
  margin-right: 16px;
}

.money-input-button-expenses {
  margin-right: 16px;
}
