@media (max-width: 800px) {
  .nav-open {
    width: 50vw;
  }

  .login-inputs {
    width: calc(4 * 20%);
  }

  .money-input {
    width: 80%;
  }

  .money-input-type {
    width: 80%;
  }

  .money-input-buttons {
    width: 80%;
  }

  .saldo-button-center span {
    display: none;
  }

  .balance-button {
    font-size: 1.2rem;
  }

  .donitsi-label h3 {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .nav-open {
    width: 90vw;
  }

  .logo-inputs {
    width: 100%;
  }

  .money-input-type {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  #expenses-form {
    margin: 16px 0;
    overflow: auto;
  }

  #expenses-form h1 {
    font-size: 1rem;
  }

  .my-btn.outline-btn {
    font-size: 0.8rem;
  }
}
